astroid @ file:///tmp/build/80754af9/astroid_1592495913683/work
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
chumpy==0.70
configer @ git+https://github.com/nghorbani/configer@8cd1e3e556d9697298907800a743e120be57ac36
configparser==5.0.1
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
freetype-py==2.2.0
human-body-prior @ git+https://github.com/nghorbani/human_body_prior@1936f38aec4bb959f6a8bf4ed304b6aafb42fa30
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
kiwisolver==1.3.1
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1607707326711/work
matplotlib==3.3.3
mccabe==0.6.1
moviepy==1.0.3
networkx==2.5
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.1.0
proglog==0.1.9
protobuf==3.14.0
pycodestyle==2.6.0
pyglet==1.5.14
pylint @ file:///tmp/build/80754af9/pylint_1598624022510/work
PyOpenGL==3.1.0
pyparsing==2.4.7
pyrender==0.1.43
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.25.1
scipy==1.5.4
six @ file:///tmp/build/80754af9/six_1605205335545/work
smplx==0.1.26
tensorboardX==2.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
torch==1.1.0
torch-utils==0.1.2
torchgeometry==0.1.2
torchvision==0.8.2+cu110
tqdm==4.56.0
transforms3d==0.3.1
trimesh==3.9.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
wrapt==1.11.2
